{% extends 'base.html.twig' %}

{% block title %}Question: {{ question }}  {% endblock %}

{% block body %}
    <h1>{{ question }}</h1>


    <h2>Answers ({{ answers|length }}) </h2>


    <ul>
        {% for answer in answers %}
            <div class="js-vote-arrows">
                <li>{{ answer }}</li>
                <a href="#" data-direction="up">UP</a>
                <a href="#" data-direction="down">Down</a>
                <span>+ <span class="js-vote-total">6</span></span>
            </div>
        {% endfor %}
    </ul>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('js/question_show.js') }}"></script>
{% endblock %}